html {
  overflow-y: scroll; /* Ensures the scrollbar is always visible */
}

body {
  margin: 0;
}


.social-icon {
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.profile-pic {
  opacity: 1;
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.7;
  }
}

.social-icon{
  text-decoration: none;
}

.intext-link {
  &:hover {
    opacity: 0.7;
  }
  background-color: rgba(175, 255, 175, 0.489);
  color: rgb(1, 130, 1);
  text-decoration: none;
 }

 .title-link {
  text-decoration: none;
  color: #757575;
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.7;
  }
 }

 .card-body {
  background-color: rgba(247, 247, 247, 0.489); 
  border-style: none;
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.7;
  }
}

.scrollable-container {
  max-height: 300px; /* Adjust height as needed */
  overflow: hidden; /* Hide the scrollbar itself */
  padding-right: 10px; /* Optional: for better appearance */
  position: relative;
}

.scrollable-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;  /* Allows scrolling */
  pointer-events: none;  /* Ensures the scrolling area is still interactive */
}

.scrollable-container {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto; /* Keeps scrolling enabled */
  padding-right: 10px; /* Optional: for better appearance */
}

.scrollable-column::-webkit-scrollbar {
  display: none;  /* Hides the scrollbar buttons */
}

.scrollable-column-wrapper {
  position: relative;
  max-height: 300px;  /* Adjust based on your requirements */
}

.scrollable-column {
  max-height: 100%;
  overflow-y: scroll;  /* Keeps scrolling enabled */
  padding-bottom: 20px;  /* Optional: space between content and fade */
}

.scrollable-column-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;  /* Adjust to control how much fading you want */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  pointer-events: none;  /* Ensures that the fade effect doesn't block interactions */
}



